*.tar
analytics_pb2_grpc.py
analytics_pb2.py
energycollector_pb2_grpc.py
energycollector_pb2.py
energycollector_grpc_web_pb.js
energycollector_pb.js
webui_pb2_grpc.py
webui_pb2.py
.docker_temp_*
.idea
influxdb-data/*
!influxdb-data/.gitkeep